<footer class="footer py-4" dir="ltr">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; 2023 Bahaa .  All rights reserved.
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-secondary btn-social mx-2" href="https://twitter.com/BahaaBrand" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-secondary btn-social mx-2" href="https://www.instagram.com/bahaa.brand" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>

            <!-- <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a> -->

            </div>
        </div>
    </div>
</footer>